/*GLOBAL */
body {
  font-family: 'Fraunces', serif;
}

.flex {
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}

/*HEADER*/
.header {
  color: white;
  background: url("https://images.pexels.com/photos/592753/pexels-photo-592753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  background-size: cover;
  height: 80vh;
}

.up-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.page-title h2 {
  margin-bottom: 0;
}

.tools ul {
  display: inline;
  padding: 0;
}

.tools li {
  display: inline;
  margin: 10px;
}

.tools li a {
  text-decoration: none;
  color: white;
}

/*SPLASH*/
.splash-inner {
  text-align: center;
}

.sizes {
  height: 80vh;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.splash-inner a {
  text-decoration: none;
  color: white;
  background: #f6b93b;
  padding: 2%;
  border-radius: 3%;
  opacity: 1;
  transition: all 1s;
}

.splash-inner a:hover {
  filter: brightness(70%);
}

/* SERVICES */
.examples {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
}



.content p, .content h3 {
  text-align: center;
}

.i-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 30px;
}

.i-flex i {
  padding: 3%;
  border: 5px solid yellow;
  border-radius: 50%;
}

/*OUR PROJECTS*/
.our-projects {
  background: #dfe6e9;
}

.card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  text-align: center;
}

.card {
  margin-bottom: 5%;
  opacity: 1;
  transition: all 1s;
}

.card:hover img {
  filter: brightness(50%);
  cursor: pointer;
}

/*FOOTER*/
footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 20px;
}

.footer-text {
  margin-bottom: 0;
  margin-right: 15%;
}

footer ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer li {
  list-style-type: none;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

footer li a {
  text-decoration: none;
}

footer li span {
  display: none;
}

footer li i {
  font-size: 30px;
  color: white;
}

/*MEDIA*/
@media (max-width: 415px) {
  .row {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .tools {
    font-size: 10px;
  }
  .tools li {
    margin-right: 0;
  }
  .footer-text {
    position: absolute;
    top: 100%;
  }
}

/*# sourceMappingURL=style.css.map */